<div *ngIf="false" class="lds-ring main-loader">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>

<div class="header">
  <div class="container-fluid">
    <div class="row headerRow">
      <div class="logo animated bounceIn col-sm-1">
        <img src="../../../assets/images/logo.png">
      </div>

      <div class="user col-sm-2">
        <i class="fas fa-user"></i>
        <h1> أسم المستخدم </h1>
      </div>

      <div class="year col-sm-4">
        <h1> الفتره : 2018 </h1>
      </div>


      <div class="tabHeader col-sm-4">
        <h1> الرؤيا الفنية </h1>
      </div>

    </div>
  </div>
</div>

<div class="menu  animated bounceInRight">
  <div *ngIf="!userModules" class="lds-ring">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <ul>
    <li *ngFor="let module of userModules" (click)=selectModule(module) [routerLink]="['/modules', module.ModuleURL.replace('/','')]">
      {{module.ModuleName_AR}} </li>
  </ul>
</div>

<div app-page-bar [activeModule]="activeModule"></div>

<div class="comp-container">
  <router-outlet></router-outlet>
</div>