<div class="header">
  <div class="container-fluid">
    <div class="row headerRow">
      <div class="logo animated bounceIn col-sm-1">
        <img src="../../../assets/images/logo.png">
      </div>

      <div class="user col-sm-2">
        <i class="fas fa-user"></i>
        <h1> أسم المستخدم </h1>
      </div>


      <div class="year col-sm-4">
        <h1> الفتره : 2018 </h1>
      </div>


      <div class="tabHeader col-sm-4">

        <h1> الرؤيا الفنية </h1>

      </div>

    </div>
  </div>
</div>



<div class="toolbar">
  <i class="fas fa-print hvr-grow"></i>
  <i class="fas fa-save hvr-grow"></i>
  <i class="fas fa-door-open hvr-grow"></i>
  <i class="fas fa-cut hvr-grow"></i>
  <i class="fas fa-envelope-open hvr-grow"></i>
</div>




<div class="menu  animated bounceInRight">

  <ul>
    <li *ngFor="let module of userModules"> {{module.ModuleName_AR}} </li>
  </ul>


</div>




<div class="container-fluid secondHeader">
  <div class="row">
    <div class="col-md-11 divaricate">
      <ul>
        <li class="li1">الملفات</li>
        <li class="li2"> الحركات </li>
        <li class="li3"> التقارير </li>
        <li class="li4"> النظام </li>

      </ul>
    </div>
  </div>
</div>


<div class="container-fluid slideDownTab">
  <div class="row">
    <div class="col-md-10">
      <div class="tabnmbr1 tab">
        <ul>
          <li class="option1"> الأفرع </li>
          <li class="option1"> الصفحه 1 </li>
          <li class="option1"> الصفحه 2 </li>
        </ul>
      </div>


      <div class="tabnmbr2 tab">
        <ul>
          <li class="option1"> الصفحه 1 </li>
          <li class="option1"> الصفحه 2 </li>
        </ul>
      </div>




      <div class="tabnmbr3 tab">
        <ul>
          <li class="option1"> الصفحه 1 </li>
          <li class="option1"> الصفحه 2 </li>
        </ul>
      </div>




      <div class="tabnmbr4 tab">
        <ul>
          <li class="option1"> الصفحه 1 </li>
          <li class="option1"> الصفحه 2 </li>
        </ul>
      </div>





    </div>
  </div>
</div>


<div class="container">


  <div class="row">

    <div class="col-md-11 contain closeMain system-man-div">


      <h1 class="main-HeaderText"> الأنظمة المالية </h1>

      <div class="row">
        <div class="col-md">
          <div class="check1 animated bounceInUp">
            <ul>
              <li class="hvr-grow"> الميزانية العمومية <img src="../../../assets/images/search.png"></li>
              <li class="hvr-grow"> قائمة الدخل <img src="../../../assets/images/search.png"></li>
              <li class="hvr-grow"> ميزان المراجعة <img src="../../../assets/images/search.png"></li>
              <li class="hvr-grow"> كشف الأرصدة <img src="../../../assets/images/search.png"></li>
              <li class="hvr-grow"> كشف حساب متفرغ <img src="../../../assets/images/search.png"></li>
              <li class="hvr-grow"> كشف حساب تفصيلي <img src="../../../assets/images/search.png"></li>
            </ul>
          </div>
        </div>

        <div class="col-md animated bounceInDown">
          <div class="check2">

            <div>
              <i class="fas fa-book"></i>
              <h1> دفتر اليومية </h1>
            </div>


            <div>
              <i class="fas fa-cubes"></i>
              <h1> السندات المحاسبية </h1>
            </div>

          </div>
        </div>

        <div class="col-md">
          <div class="check3 animated bounceInUp">

            <div>
              <i class="fas fa-tree"></i>
              <h1> شجرة الحسابات </h1>
            </div>


            <div>
              <i class="fas fa-folder-open"></i>
              <h1> مجموعة الحسابات </h1>
            </div>


            <div>
              <i class="fas fa-calendar-alt"></i>
              <h1> الارصدة الافتتاحية </h1>
            </div>

          </div>
        </div>
      </div>

    </div>

    <div class="col-md-11 contain-grid branches closeMain">


      <h1 class="mainHeaderText"> معلومات الأفرع </h1>


      <form class="mainGrid">



        <div class="row">
          <div class="col-sm grid-label"> رقم الفرع </div>
          <div class="col-sm grid-label"> أسم الفرع </div>
          <div class="col-sm grid-label"> الوصف الأجنبي </div>
          <div class="col-sm grid-label"> فرع حالي </div>
          <div class="col-sm-2 grid-label"> حذف/تعديل </div>
        </div>

        <div class="row row1">
          <input type="text-box" class="col-sm" value="1" name="">
          <input type="text-box" class="col-sm" value="مؤسسة أياد القاضي" name="">
          <input type="text-box" class="col-sm" value="مؤسسة أياد القاضي" name="">
          <select class="col-sm">
            <option> نعم </option>
            <option> لا </option>
          </select>
          <div class="col-sm-2 insideGrid">
            <div class="row overFlow">
              <button class="add addinside1"><i class="fas fa-save"></i> حــفظ </button>
              <button type="button" name="edit" onclick="enable1()" id="edit1" class="col-sm insideGridBtn hvr-grow btn1">
                <i class="fas fa-edit"></i> </button>
              <button name="remove" id="remove" class="col-sm insideGridBtn hvr-grow btn1"> <i class="fas fa-trash-alt"></i>
              </button>
            </div>
          </div>
        </div>


        <div class="row row2">
          <input type="text-box" class="col-sm" value="2" name="">
          <input type="text-box" class="col-sm" value="ls vision" name="">
          <input type="text-box" class="col-sm" value="ls vision" name="">
          <select class="col-sm">
            <option> لا </option>
            <option> نعم </option>
          </select>

          <div class="col-sm-2 insideGrid">
            <div class="row  overFlow">
              <button class="add addinside2"><i class="fas fa-save"></i> حــفظ </button>
              <button type="button" name="edit" onclick="enable2()" id="edit2" class="col-sm insideGridBtn btn2 hvr-grow">
                <i class="fas fa-edit"></i> </button>
              <button name="remove" id="remove" class="col-sm insideGridBtn btn2 hvr-grow"> <i class="fas fa-trash-alt"></i>
              </button>
            </div>
          </div>
        </div>



        <div class="row row3">
          <input type="text-box" class="col-sm" value="3" name="">
          <input type="text-box" class="col-sm" value="مؤسسة انس نزال" name="">
          <input type="text-box" class="col-sm" value="مؤسسة انس نزال" name="">
          <select class="col-sm">
            <option> لا </option>
            <option> نعم </option>
          </select>

          <div class="col-sm-2 insideGrid">
            <div class="row  overFlow">
              <button class="add addinside3"><i class="fas fa-save"></i> حــفظ </button>
              <button type="button" name="edit" onclick="enable3()" id="edit3" class="col-sm hvr-grow insideGridBtn btn3">
                <i class="fas fa-edit"></i> </button>
              <button name="remove" id="remove" class="col-sm hvr-grow insideGridBtn btn3"> <i class="fas fa-trash-alt"></i>
              </button>
            </div>
          </div>
        </div>



        <div class="row row4">
          <input type="text-box" class="col-sm" value="4" name="">
          <input type="text-box" class="col-sm" value="شركة مذيب" name="">
          <input type="text-box" class="col-sm" value="شركة مذيب" name="">
          <select class="col-sm">
            <option> لا </option>
            <option> نعم </option>
          </select>

          <div class="col-sm-2 insideGrid">
            <div class="row  overFlow">
              <button class="add addinside4"><i class="fas fa-save"></i> حــفظ </button>
              <button type="button" name="edit" onclick="enable4()" id="edit4" class="col-sm hvr-grow insideGridBtn btn4">
                <i class="fas fa-edit"></i> </button>
              <button name="remove" id="remove" class="col-sm hvr-grow insideGridBtn btn4"> <i class="fas fa-trash-alt"></i>
              </button>
            </div>
          </div>

        </div>




      </form>




      <div class="row mainGridButtuns">

        <div class="col-sm">
          <button name="New" class=" hvr-grow" id="New" onclick="addrow()"><i class="fas fa-plus-circle"></i> </button>
        </div>

        <div class="col-sm">
          <button name="" class=" hvr-grow" id=""><i class="fas fa-atlas"></i> </button>
        </div>


        <div class="col-sm">
          <button name="" class=" hvr-grow" id=""><i class="fab fa-algolia"></i> </button>
        </div>


        <div class="col-sm">
          <button name="" class=" hvr-grow" id=""><i class="fas fa-archive"></i> </button>
        </div>

        <div class="col-sm">
          <button name="" class=" hvr-grow" id=""><i class="fas fa-bookmark"></i> </button>
        </div>





        <div class="col-sm-7"></div>
      </div>


    </div>

  </div>
</div>