<div class="container-fluid secondHeader">
  <div class="row">
    <div class="col-md-11 divaricate">
      <ul>
        <li *ngFor = "let type of pageTypes">{{type.name}}</li>
      </ul>
    </div>
  </div>
</div>


<div class="container-fluid slideDownTab">
  <div class="row">
    <div class="col-md-10">
      <!-- <div class="tabnmbr1 tab">
        <ul>
          <li class="option1"> الأفرع </li>
          <li class="option1"> الصفحه 1 </li>
          <li class="option1"> الصفحه 2 </li>
        </ul>
      </div>


      <div class="tabnmbr2 tab">
        <ul>
          <li class="option1"> الصفحه 1 </li>
          <li class="option1"> الصفحه 2 </li>
        </ul>
      </div>




      <div class="tabnmbr3 tab">
        <ul>
          <li class="option1"> الصفحه 1 </li>
          <li class="option1"> الصفحه 2 </li>
        </ul>
      </div>




      <div class="tabnmbr4 tab">
        <ul>
          <li class="option1"> الصفحه 1 </li>
          <li class="option1"> الصفحه 2 </li>
        </ul>
      </div> -->


      <div *ngFor = "let type of pageTypes" class="tab">
          <ul>
            <!--  [routerLink]="['/{{page.PageURl}}']" -->
            <li *ngFor="let page of type.pages" >{{page.PageName_AR}}</li>
          </ul>
        </div>


    </div>
  </div>
</div>